[Unit]
Description=Caramen Si Le Backend Service
After=network.target
[Service] 
User=root
Group=root
WorkingDirectory=/opt/caramensile_be/repo
Environment="PATH=/opt/caramensile_be/bin"
ExecStart=/opt/caramensile_be/bin/../repo gunicorn --bind 0.0.0.0:5000 wsgi:app
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target