# API
flask-restful
# DATABASE
alembic
Flask-SQLAlchemy
psycopg2-binary

# AUTHENTICATION
flask-security-too
python-dateutil
# DEPLOYMENT
wheel
gunicorn
# CORS
flask-cors

# /Users/teomoney/Documents/Caramen Sỉ Lẻ/teomoney/repo